[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
pillow = "*"
easy-thumbnails = "*"
django-userforeignkey = "*"
django-autoslug = "*"

[requires]
python_version = "3.8"
