django = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
pillow = "*"
easy-thumbnails = "*"
django-userforeignkey = "*"
django-autoslug = "*"
